<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Email list</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <span v-if="emails.length < limit">Is Loading...</span>
        <ul v-else>
            <li v-for="email in emails">{{email}}</li>
        </ul>
    </div>

    <script src="js/script.js"></script>
</body>
</html>